<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Full Stack Software Engineer at
      <a class="underline-link" href="https://www.conradlabs.com/" target="_blank">Conrad Labs</a> building things for the future with some awesome people. I recently graduated from
      <a class="underline-link" href="https://lums.edu.pk/" target="_blank">LUMS University</a> after completing my graduation.
    </p>

    <p>
      As a full-stack developer, I have the ability to tackle both front-end and back-end development tasks. 
      I strive to use my skills for a greater purpose, by building technology solutions that positively impact society. 
      From creating platforms that connect people in need to essential services, to developing applications that are 
      essential building blocks of future, I am dedicated to using my abilities to make a real difference in the world.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing, or watching cricket.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
